{
  "presets": ["react"],
  "plugins": [
    "transform-es2015-destructuring",
	"transform-es2015-modules-commonjs",
	"transform-es2015-parameters",
	"transform-es2015-spread",
	"transform-es2015-shorthand-properties",
	"syntax-object-rest-spread",
	"transform-object-rest-spread"
  ]
}
