{
    "extends": "airbnb",
	"ecmaFeatures": {
		"experimentalObjectRestSpread": true
	},
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "comma-dangle": [2, "never"],
        "brace-style": [2, "stroustrup"],
        "prefer-arrow-callback": 2,
        "prefer-spread": 2,
        "object-shorthand": [2, "always"],
        "new-cap": [2, {
            "newIsCap": true,
            "capIsNew": false
        }],
        "space-before-function-paren": 0,
        "no-unused-expressions": [2, {
            "allowShortCircuit": true,
            "allowTernary": true
        }],
        "one-var": [2, {
            "initialized": "never",
            "uninitialized": "always"
        }],
        "func-names": 0,
        "react/sort-comp": [2, {
            "order": [
                "lifecycle",
                "render",
                "/^render.+$/",
                "/^on.+$/",
                "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
                "everything-else"
            ]
        }]
    }
}