#yandex-mail-notifier {
    list-style-image: url('icon-16.png');
}

#yandex-mail-notifier:after {
    position: relative;
    display: table;
    font-family: Arial;
    font-size: 10px;
    font-weight: 600;
    content: attr(value);
    background-color: #b90014;
    color: white;
    text-align: center;
    overflow: hidden;
    border-radius: 2px;
    height: 11px;
    line-height: 10px;
}

#yandex-mail-notifier[length="1"]:after {
    margin: 6px -1px 0 -9px;
    width: 10px;
}

#yandex-mail-notifier[cui-areatype="toolbar"][length="1"]:after {
    margin: 7px 3px 0 -13px;
}

#yandex-mail-notifier[length="2"]:after {
    margin: 6px 0 0 -16px;
    width: 16px;
}

#yandex-mail-notifier[cui-areatype="toolbar"][length="2"]:after {
    margin: 7px 3px 0 -19px;
}